[submodule "software_simulator/GeneSys.sim"]
	path = software_simulator/GeneSys.sim
	url = https://github.com/actlab-genesys/GeneSys.sim.git
[submodule "compiler/GeneSys.codelets"]
	path = compiler/GeneSys.codelets
	url = https://github.com/actlab-genesys/GeneSys.codelets.git
[submodule "architecture/GeneSys.arch"]
	path = architecture/GeneSys.arch
	url = https://github.com/actlab-genesys/GeneSys.arch.git
